/* <!--
           New Perspectives on HTML and CSS
           Tutorial 8
           Case Problem 4

           Browyer Realty
           Author: Rajat Hatwat
           Date:   10/22/2016
           Filename:         brmobile.css


    -->*/






body{
width:100%;
}




#bkimg {
position: absolute;
    top: 1px;
    left: 11px;
    z-index: 1;
    width: 95%;
    opacity: 0.25;
    height: 54px;
}


#front img{
    width: 100%;
}





nav {
float: left;
width: 95%;
margin-right: auto;
margin-left: auto;
}

nav li {
display: block;
width: 13%;
margin-left: 1%;
margin-bottom: 5px;
float: left;
}

nav li a {
display: block;
width: 100%;
height: 35px;
line-height: 38px;
text-align: center;
color: black;

font-size: 4px;



-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
background-color:  #B1907B;
text-transform: uppercase;
font-family: Copperplate Gothic Bold;
}

nav li a:hover {
background-color: rgb(209, 232, 216);

-webkit-transform: rotate(-10deg) scale(1.2);
-moz-transform: rotate(-10deg) scale(1.2);
-o-transform: rotate(-10deg) scale(1.2);
}



span {
   margin-top: -3px;
}

span ul {
   border-bottom: 1px solid red;
   height: 40px;
   margin-top: -28px;
}

span ul li {
padding: 0px;
   float: left;
   margin: 0px 3px;
   width: 100px;
   line-height: 20px;
   height: 20px;
   text-align: center;
   background: url(tab.jpg) no-repeat top left;
}

span ul li a {
background-color: cadetblue;
  display: block;
   width: 100px;
   font-size: 10px;
   text-decoration: none;
   color: black;
   margin-left: 59px;

text-align: center;

font-family: Copperplate Gothic Bold;
}

#addr{
float: left;
border: 5px solid #555;
border-radius: 34px;
background: radial-gradient(#e7dccd,#f1b087);
box-shadow: #ae6014 5px 5px 5px;
width: 71%;
margin-left: 9%;
height: 74px;
margin-top: -5%;
padding: 10px;


}


#price{
float: left;
border: 5px solid #555;
border-radius: 34px;
background: radial-gradient(#e7dccd,#f1b087);
box-shadow: #ae6014 5px 5px 5px;
width: 71%;
margin-left: 10%;
height: 89px;
margin-top: 3%;
padding: 10px;
}
h1{
text-shadow: 2px 2px #FF0000;
}

#fhead{
margin-top: 2px;
font-family: Copperplate Gothic Bold;
font-size: 10px;

}















#wrapper {
	width: 960px;
	margin: 0 auto;
}

#wrapper {
  perspective: 2500;
  -webkit-perspective: 100;
  width: 300px;
  margin: 219px auto 0 auto;
  perspective-origin: 50% 150px;
  -webkit-perspective-origin: 50% 150px;
  transition: perspective, 1s;
  -o-transition: -o-perspective, 1s;
  -moz-transition: -moz-perspective, 1s;
  -webkit-transition: -webkit-perspective, 1s;
}

#image:hover {
  animation-play-state:paused;
  -o-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -webkit-animation-play-state:paused;
}


@-webkit-keyframes spin {
	from {
    transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
	-webkit-transform: rotateY(0);
	}

	to {
    transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
	-webkit-transform: rotateY(-360deg);
	}
}

#image {
	margin: 0 auto;
	height: 250px;
	width: 400px;
    transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
    animation: spin 24s infinite linear;
    -moz-animation: spin 24s infinite linear;
    -o-animation: spin 24s infinite linear;
	-webkit-animation: spin 24s infinite linear;
	margin-top: 169px;
}

.image {
	position: absolute;
	height: 15px;
	width: 250px;
    border-radius: 20px;
	background-color: rgb(138, 110, 92);
	text-align: center;
	font-size: 2em;
	color: #00000;
	margin-top: 3px;
}

#image > .i1 {
   transform: translateZ(485px);
  -moz-transform: translateZ(485px);
  -o-transform: translateZ(485px);
  -ms-transform: translateZ(485px);
  -webkit-transform: translateZ(485px);
}
#image > .i2 {
   transform: rotateY(40deg) translateZ(485px);
  -moz-transform: rotateY(40deg) translateZ(485px);
  -o-transform: rotateY(40deg) translateZ(485px);
  -ms-transform: rotateY(40deg) translateZ(485px);
  -webkit-transform: rotateY(40deg) translateZ(485px);
}
#image > .i3 {
  transform: rotateY(80deg) translateZ(485px);
  -moz-transform: rotateY(80deg) translateZ(485px);
  -o-transform: rotateY(80deg) translateZ(485px);
  -ms-transform: rotateY(80deg) translateZ(485px);
  -webkit-transform: rotateY(80deg) translateZ(485px);
}
#image > .i4 {
  transform: rotateY(120deg) translateZ(485px);
  -moz-transform: rotateY(120deg) translateZ(485px);
  -o-transform: rotateY(120deg) translateZ(485px);
  -ms-transform: rotateY(120deg) translateZ(485px);
  -webkit-transform: rotateY(120deg) translateZ(485px);
}
#image > .i5 {
   transform: rotateY(160deg) translateZ(485px);
  -moz-transform: rotateY(160deg) translateZ(485px);
  -o-transform: rotateY(160deg) translateZ(485px);
  -ms-transform: rotateY(160deg) translateZ(485px);
  -webkit-transform: rotateY(160deg) translateZ(485px);
}
#image > .i6 {
   transform: rotateY(200deg) translateZ(485px);
  -moz-transform: rotateY(200deg) translateZ(485px);
  -o-transform: rotateY(200deg) translateZ(485px);
  -ms-transform: rotateY(200deg) translateZ(485px);
  -webkit-transform: rotateY(200deg) translateZ(485px);
}
#image > .i7 {
  transform: rotateY(240deg) translateZ(485px);
  -moz-transform: rotateY(240deg) translateZ(485px);
  -o-transform: rotateY(240deg) translateZ(485px);
  -ms-transform: rotateY(240deg) translateZ(485px);
  -webkit-transform: rotateY(240deg) translateZ(485px);
}
#image > .i8 {
  transform: rotateY(280deg) translateZ(485px);
  -moz-transform: rotateY(280deg) translateZ(485px);
  -o-transform: rotateY(280deg) translateZ(485px);
  -ms-transform: rotateY(280deg) translateZ(485px);
  -webkit-transform: rotateY(280deg) translateZ(485px);
}
#image > .i9 {
  transform: rotateY(320deg) translateZ(485px);
  -moz-transform: rotateY(320deg) translateZ(485px);
  -o-transform: rotateY(320deg) translateZ(485px);
  -ms-transform: rotateY(320deg) translateZ(485px);
  -webkit-transform: rotateY(320deg) translateZ(485px);
}

img {
  border-radius: 20px;
  }

@media screen and (orientation : landscape ) {}